:host {
  display: block;
  height: 100%;
  padding: 1rem;
  background-color: var(--surface-ground);
}

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

::ng-deep .p-menu {
  width: 100% !important;
  background: transparent !important;
  border: none !important;
}

::ng-deep .p-menuitem-link {
  background: var(--surface-card);
  margin-bottom: 0.5rem;
  border-radius: 6px;
  transition: transform 0.2s;
  border: 1px solid var(--surface-border);
}

::ng-deep .p-menuitem-link:hover {
  transform: translateX(5px);
  background: var(--primary-50) !important;
}
