:host {
  display: block;
  height: 100%;
  padding: 1rem;
  background-color: var(--surface-ground);
}

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

::ng-deep {
  .clock-section, .date-mini {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: #ffffff !important;
    border: 1px solid #e2e8f0 !important;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06) !important;
    color: #000000 !important;

    i {
      color: #000000 !important;
      font-size: 1.1rem;
    }
  }

  .p-menu {
    .p-menuitem-link {
      padding: 1rem 1.25rem !important;

      .p-menuitem-icon {
        font-size: 1.5rem !important;
        margin-right: 1rem !important;
        color: #4b5563;
      }

      .p-menuitem-text {
        font-size: 1.25rem !important;
        color: #1f2937;
        font-weight: 600;
      }
      &:hover {
        background: rgba(33, 150, 243, 0.08) !important;
        border-radius: 10px;

        .p-menuitem-icon, .p-menuitem-text {
          color: #2196F3 !important;
        }
      }
    }
  }
}

::ng-deep .p-menuitem-link {
  background: var(--surface-card);
  margin-bottom: 0.5rem;
  border-radius: 6px;
  transition: transform 0.2s;
  border: 1px solid var(--surface-border);
}

::ng-deep .p-menuitem-link:hover {
  transform: translateX(5px);
  background: var(--primary-50) !important;
}
