.dashboard-container {
  background-color: var(--surface-ground);
  min-height: 100%;
}

.sticky-panel {
  position: sticky;
  top: 1rem;
  z-index: 10;
}

::ng-deep .p-datatable-wrapper {
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}
