@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: var(--font-family), serif;
  margin: 0;
  padding: 0;
  background-color: var(--surface-ground);
}

:root {
  --font-family: 'Roboto', sans-serif;
}
